@model Tuple<coliks.Models.Customers, coliks.Models.Purchases>

@{
    ViewData["Title"] = "Details";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/homeCustomers.css" />
</environment>

<div class="d-flex justify-content-between align-items-center flex-row">
    <div>
        <h1>Details du client</h1>
    </div>
    <div>
        <button type="submit" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Customers")'">Liste clients</button>
    </div>
</div>

<div id="customer-details-content" class="block-container">
    <div class="row">
        <h2 class="col-sm-12" id="name">
            @Html.DisplayFor(tuple => tuple.Item1.Lastname)
            @Html.DisplayFor(tuple => tuple.Item1.Firstname)
        </h2>
        <div class="col-sm-10">
            <div class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(tuple => tuple.Item1.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(tuple => tuple.Item1.Address)<br />
                    @Html.DisplayFor(tuple => tuple.Item1.City.Name)

                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(tuple => tuple.Item1.Phone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(tuple => tuple.Item1.Phone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(tuple => tuple.Item1.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(tuple => tuple.Item1.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(tuple => tuple.Item1.Mobile)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(tuple => tuple.Item1.Mobile)
                </dd>
            </div>
        </div>
        <div id="" class="col-sm-2 d-flex justify-content-end align-items-end">
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Edit", "Customers", new { id = Model.Item1.Id })'">Modifier</button>
        </div>
    </div>
</div>

<div id="partialView">
    @{Html.RenderPartial("DetailsPartial", Model);}
</div>

<!-- Modal for vaucher -->
<div class="modal fade" id="vaucherModal" tabindex="-1" role="dialog" aria-labelledby="vaucherModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vaucherModalLabel">Bon d'achat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="vaucher-printable">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <img src="~/img/logo.jpg" class="img-thumbnail" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 d-flex justify-content-center"><h2>BON D'ACHAT DU VALEUR</h2></div>
                        <div class="col-md-12 d-flex justify-content-center"><h2 id="vaucher-modal-value"></h2></div>
                    </div>
                    <div class="row mt-4 mb-5">
                        <div class="col-md-12 d-flex justify-content-between">
                            <p>Signature</p>
                            <p>Date</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="vaucher-printable-button">Imprimer</button>
            </div>
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/js/customers.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.6.0/jQuery.print.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</environment>

