@model Tuple<coliks.Models.Customers, coliks.Models.Purchases>

@{
    ViewData["Title"] = "Details";
}


<div class="d-flex justify-content-between align-items-center flex-row">
    <div>
        <h1>Details du client</h1>
    </div>
    <div>
        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Edit", "Customers", new { id = Model.Item1.Id })'">Modifier</button>
        <button type="submit" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Customers")'">Liste clients</button>
    </div>
</div>



<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple =>  tuple.Item1.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.City.Name)
        </dd>
    </dl>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(tuple => tuple.Item2.Date)
            </th>
            <th>
                @Html.DisplayNameFor(tuple => tuple.Item2.Description)
            </th>
            <th>
                @Html.DisplayNameFor(tuple => tuple.Item2.Amount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var purchase in Model.Item1.Purchases)
        {
            <tr>
                <td> @purchase.Date</td>
                <td> @purchase.Description</td>
                <td> @purchase.Amount CHF</td>
            </tr>
        }
        @if (ViewBag.isReduction)
        {
            <tr>
                <td>Disponible</td>
                <td>*** Bon d-achat de 50.- ***</td>
                <td>-500 CHF</td>
            </tr>
        }
        <tr>
            <td colspan="2">Total</td>
            <td>@ViewBag.totalPurchase.ToString()</td>
        </tr>
    </tbody>
</table>

<environment include="Development">
    <script src="~/js/customers.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/homeCustomers.css" />
</environment>
