@model ReflectionIT.Mvc.Paging.PagingList<coliks.Models.Customers>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Clients";
}

<div id="customer-header">

    <div id="content">
        <div id="title">
            <h1>Clients</h1>
            <p><a asp-action="Create">Create New</a></p>
        </div>

        <div id="search-box">
            <form method="get" class="form-inline" id="customer-search-box">
                <input name="filter" class="form-control" placeholder="filter"
                       value="@Model.RouteValue["Filter"]" />
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
            </form>
        </div>
    </div>

    <div id="pagination-header">
        <nav aria-label="Suppliers navigation example">
            <partial name="PagerBootstrap4" model="@this.Model" />
            @*<pager model="Model" />*@
        </nav>
    </div>

</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.Lastname, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Firstname, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Address, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Phone, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Email, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Mobile, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.City, this.Model)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td id="customer-home-actions">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="customer-footer">
    <div id="pagination-footer">
        <nav aria-label="Suppliers navigation example">
            <partial name="PagerBootstrap4" model="@this.Model" />
            @*<pager model="Model" />*@
        </nav>
    </div>
</div>