@model ReflectionIT.Mvc.Paging.PagingList<coliks.Models.Customers>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Clients";
}

<div id="customer-header">

    <div id="content">
        <h1>Clients</h1>
        <div id="search-new">
            <div class="form-group has-search">
                <form method="get" class="form-inline" id="customer-search-box">
                    <span class="form-control-container d-flex justify-content-center">
                        <span id="delete-search" class="fa fa-eraser form-control-feedback" data-toggle="popover" data-content="Effacer la recherche"  data-placement="bottom"></span>
                        <span id="search-values" class="fa fa-search form-control-feedback" data-toggle="popover" data-content="Faire la recherche"  data-placement="bottom"></span>
                    </span>
                    <input autofocus name="filter" class="form-control" placeholder="sercher" value="@Model.RouteValue["Filter"]" data-toggle="popover" data-content="Champ pour la recherche"  data-placement="bottom" />
                </form>
            </div>

            <form class="form-group">
                <button asp-action="Create" id="client-new-btn" class="btn btn-success" data-toggle="popover" data-content="Ajouter un client"  data-placement="bottom">Nouveau</button>
            </form>
        </div>
    </div>

    <div id="pagination-header">
        <nav aria-label="Suppliers navigation example">
            <partial name="PagerBootstrap4" model="@this.Model" />
            @*<pager model="Model" />*@
        </nav>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.Lastname, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Firstname, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Address, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Phone, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Email, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Mobile, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.City, this.Model)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="customer-clickable-row">
            <td class="clickable">
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td class="clickable">
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td class="clickable">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="clickable">
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td class="clickable">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="clickable">
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td class="clickable">
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td id="customer-home-actions">
                <a id="edit" asp-action="Edit" asp-route-id="@item.Id" data-toggle="popover" data-content="Modifier les informations du client"  data-placement="bottom"><i class="fas fa-user-edit"></i></a> |
                <a id="details" asp-action="Details" asp-route-id="@item.Id" class="d-none">Details</a> 
                <a id="delete" asp-action="Delete" asp-route-id="@item.Id" class="fas fa-user-times" data-toggle="popover" data-content="Supprimer le client"  data-placement="bottom"></a>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="customer-footer">
    <div id="pagination-footer">
        <nav aria-label="Suppliers navigation example">
            <partial name="PagerBootstrap4" model="@this.Model" />
            @*<pager model="Model" />*@
        </nav>
    </div>
</div>

<environment include="Development">
    <script src="~/js/customers.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/homeCustomers.css" />
</environment>